* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#nav{
    height: 60px;
    /* border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
*/ }

#icon li{
    margin-right: 40px;
}

#icon li a{
    color: white;
}
#logo2 img{
    width: 40%;
    margin-bottom: -30px;
}

#logo2 p{
    font-size: 20px;
}


img{
    width: 10%;
    height: 5%;
}

.card img{
    margin: auto;
}

.carousel-item img{
    margin-left: 80px;
}

.card-footer{
    height: 200px;
    padding: 100px;
}

#tentang-kami{
    height: 400px;
}