* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* .container{
    margin-top: 20%;
} */

.container h1 {
    font-size: 48px;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
}

.navbar {
    padding: 8px 0 8px 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 80px;
    transition: all 0.3s ease;
    border-radius: 0 0 50px 50px;
    background-color: #277BC0;
}


/* NAVBAR - SCROLLING ACTIVE */

.navbar.scrolling-active {
    background-color: #2f668f;
    padding: 2px 0 2px 0;
}

.navbar.scrolling-active .box-navbar .brand h1 {
    color: white;
}

.navbar.scrolling-active .box-navbar .navigation ul li {
    padding: 8px 10px;
}

.navbar.scrolling-active .box-navbar .navigation ul li:hover {
    background-color: #e8bd3b;
}

.navbar.scrolling-active .box-navbar .navigation ul li a {
    color: white;
    padding: 8px 10px;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) a {
    color: white;
    padding: 8px 10px;
}

.navbar.scrolling-active .box-navbar .navigation ul li a:hover {
    color: white;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) {
    background-color: #e8bd3b;
    transition: all 0.3s ease;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) :hover {
    transition: all 0.3s ease;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) a:hover {
    color: #2f668f;
    transition: all 0.3s ease;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) i {
    color: #FFF;
    transition: all 0.3s ease;
}

.navbar.scrolling-active .box-navbar .navigation ul li:nth-child(5) i:hover {
    color: #2f668f;
    transition: all 0.3s ease;
}


/* NAVBAR - X SCROLLING */

.navbar .box-navbar i.ri-menu-line {
    display: none;
}

.navbar .box-navbar .navigation ul li i {
    display: none;
}

.navbar .box-navbar .navigation i.ri-close-line {
    display: none;
}

.navbar .box-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand img {
    margin-top: 20px;
    margin-left: 50%;
    width: 100px;
    height: auto;
}

.navbar .navigation .logo-navbar {
    width: 100%;
    padding: 30px 30px 0 30px;
}

.navbar .box-navbar .navigation ul {
    display: inline-flex;
    float: left;
    gap: 40px;
}

.navbar .box-navbar .navigation ul li {
    list-style-type: none;
    transition: all 0.2s;
    border-radius: 20px;
    font-size: 14px;
    transition: all ease-in 0.2s;
    padding: 8px 10px;
}

.navbar .box-navbar .navigation ul li:hover {
    background-color: #e8bd3b;
}

.navbar .box-navbar .navigation ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 10px;
}

.navbar .box-navbar .navigation ul li:hover a {
    color: #FFF;
}

.navbar .box-navbar .navigation ul li:nth-child(5) {
    background-color: #e8bd3b;
}

.navbar .box-navbar .navigation ul li:nth-child(5):hover {
    background-color: #e8bd3b;
}

.navbar .box-navbar .navigation ul li:nth-child(5) a {
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: #2f668f;
    transition: all 0.3s ease;
}

.navbar .box-navbar .navigation ul li:nth-child(5) a:hover {
    color: #FFF;
}

.navbar .box-navbar .navigation ul li:nth-child(5) i {
    transition: all 0.3s ease;
}

.container .rectangle {
    width: 100%;
    height: 400px;
    background: #808080;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.container .rectangle .box {
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}

.container .rectangle .box .content {
    background: #277BC0;
    margin: 5%;
    width: 350px;
    height: 350px;
    padding: 40px;
    position: relative;
    border-radius: 10px;
}

.container .rectangle .box .content h3 {
    font-size: 20px;
    padding: 10px;
    color: #FFF;
}

.container .rectangle .box .content .icon {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
}